*{
    margin:0px;
    padding:0px;
    font-family: 'Playfair Display', serif;
}

body{
    background-image: url(../images/berlin-4699765_1920.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.container{
    width: 650px;
    margin:10% auto;
}
.login-section{
    background-color: #c6833d3b;
    padding: 25px;
    box-shadow: 12px 11px 15px 1px #945c1ff5;
}
.login-section h2{
    text-align: center;
    color: floralwhite;
    padding: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    
    
}
.login-section img{
    width: 100px;
    display: block;
    margin: 0px auto;
}
.form-control{
    width: 98%;
    height: 32px;
    padding: 5px;
    margin-bottom: 15px;
    box-shadow: 8px 8px 23px 0px black;
}
.log-in{
    background-color: black;
    color: azure;
    padding: 10px 29px;
    display: block;
    margin: 10px auto;
    box-shadow: 10px 8px 11px 0px darkolivegreen
}

.reg-key{
    padding: 6px 9px 6px 9px;
    background-color: cadetblue;
}
.reset-key{
    padding: 6px 9px 6px 9px;
    background-color: cadetblue;
}